body {
    margin: 0;
    padding: 0;
    /* background-color: black; */
    font-family: 'DM Sans', sans-serif;
    /* box-sizing: border-box; */
}

.container.home {
    width: 100%;
    box-sizing: border-box;
    height: 100vh;
    padding: 12px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    row-gap: 20px;
    /* background-size: ; */
}

ul {
    list-style: none;
    padding: 0;
}


.online-users-container {
    position: relative;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    height: 100px;
}

.no-user-online {
    width: 100%;
    text-align: center;
    color: rgb(171, 171, 171);

}


.online-users {
    display: flex;
    gap: 10px;
    padding: 10px;
    overflow-x: auto;
    height:fit-content;

    /* flex-wrap: nowrap; */
}

.online-users .user {
    width: 50px;
    height: fit-content;
    flex-shrink: 0;
    text-align: center;
    position: relative;
    transition-duration: .3s;
    font-weight: bold;
}

.online-users .user:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.user-color {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
}


.online-users .user .online-sign {
    width: 10px;
    height: 10px;
    background-color: #00d700;
    position: absolute;
    right: 5px;
    bottom: 20px;
    border-radius: 50%;
}


.chat-box {
    width: 100%;
    height: calc(100% - 100px);
    /* flex: 1; */
    
    display: flex;
    /* padding: 5px; */
    border-radius: 10px;
    gap: 20px;
}


.member-list {
    flex: 2;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
    /* color: #c4c6e7; */
    border-radius: 10px;
    box-shadow: -1px -1px 5px #dcdcdc;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
}



.member-list .chat-users {
    flex-grow: 1;
}

.member {
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    margin: 5px;
    font-size: 1.2rem;
    transition-duration: .3s;
    color: black;
    border-radius: 5px;
    position: relative;
}

.member:hover {
    cursor: pointer;
    background-color: #f2f2f2;
}

.member .delete-chat-button {
    display: none;
    font-size: 1rem;
    padding: 0 5px;
    background-color: transparent;
    border: none;
    outline: none;
    transition-duration: .4;
}

.member:hover .delete-chat-button {
    display: block;
    /* font-size: 1rem; */
}

.delete-chat-button:hover {
    transform: scale(1.2);
    color: rgb(243, 56, 56);
    cursor: pointer;

}



.member > div {
    width: 100%;
}

.member > div .new-message-preview {
    /* width: 100%; */
    margin-top: 5px;
    font-size: 1rem;
    color: rgb(180, 180, 180);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.member-list .setting {
    display: flex;
    align-items: center;
    padding: 20px 10px;
    font-size: 1.2rem;
    /* color: black */
}

.member-list .setting span {
    margin-left: 5px;
}

.member-list .setting:hover {
    cursor: pointer;
    background-color: #f2f2f2;
}
 .setting-detail {
    background-color: white;
    position: absolute;
    padding: 10px;
    z-index: 10;
    bottom: 100px;
    left: 200px;
    width: 200px;
    /* padding: 10px; */
    font-size: 1.2rem;
    box-shadow: -1px 1px 10px #dcdcdc;
    border-radius: 8px;
}

.setting-detail div {
    padding: 10px;
    display: block;
    text-decoration: none;
    color: black;
    border-radius: 8px;
}
/* .setting-detail div:nth-child(1) {
    border-radius: 10px 10px 0 0;
}

.setting-detail div:nth-child(2) {
    border-radius: 0px 0px 10px 10px;
} */

.setting-detail div:hover {
    cursor: pointer;
    background-color: #f2f2f2;
}


.chat-content {
    flex: 6;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    box-shadow: -1px -1px 5px rgb(220, 220, 220);
}

.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #dcdcdc;
}

.chat-header .chat-information {
    display: flex;
    align-items: center;
}

.chat-header .chat-information .chat-image {
    width: 50px;
    height: 50px;
    background-image: url("/src/assets/Quickchat.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.chat-header .chat-information > div {
    margin: 0 5px;
}

.chat-header .chat-information > div p {
    margin: 0;
}

.chat-header .chat-information .chat-name {
    font-size: 1.2rem
}

.chat-header .chat-information .chat-status {
    color: rgb(140, 140, 140)
}

.chat-status > div {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #00d700;
    border-radius: 50%;
    margin-right: 5px;
}

.user-join-noti {
    
}

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    /* border: 1px solid rgb(65, 65, 65); */
    font-size: 1.2rem;
    margin: 10px 0;
}



.message {
    width: 100%;
    /* border-radius: 8px; */
    clear: both;
    /* margin-bottom: 10px; */
    word-wrap: break-word;
    padding: 10px 0;
    /* height: fit-content; */
}


.message > div {
    max-width: 60%;
    display: flex;
    height: fit-content;
    
}

.message > div .avatar {
    flex-shrink: 0;
}



.message.system .avatar {
    display: none;
}

.message-data {
    margin: 0 5px;
    padding: 10px;
    border-radius: 8px;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-all;

    /* white-space-collapse:break-spaces ; */
}


.message .self {
    float: right;
    text-align: right;
    /* padding-right: 20px; */
}

.message .self .message-data {
    background-color: #1778FF;
    color: #ffffff;
    padding-left: 20px;
}

.sender-name {
    margin-bottom: 5px;
    font-size: .8rem;
    font-weight: bold;
}

.message .self .message-data .sender-name {
    text-align: right;
}

.message .guest {
    float: left;    
    text-align: left;
}

.message .guest .message-data {
    background-color: #f0f0f0;
    padding-right: 20px;
}

.message .guest .message-data .sender-name {
    text-align: left;

}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.deleted-alert {
    text-align: center;

    
}

.deleted-alert h2 {
    font-size: 2.5rem;
}

.deleted-alert a {
    background-color: rgb(230, 230, 230);
    padding: 20px;
    text-decoration: none;
    color: black
}

.deleted-alert a:hover {
    text-decoration: underline;
    background-color: rgb(200, 200, 200);
}






