body {
    margin: 0;
    padding: 0;
    background-color: #d7d9f1;
}

.container {
    width: 100%;
    box-sizing: border-box;
    height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

ul {
    list-style: none;
    padding: 0;
}

#username-inp {
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 1.25rem
}



.register-btn {
    padding: 5px;
    font-size: 1.25rem
}

.chat-box {
    width: 100%;
    height: 100%;
    
    display: flex;
    /* padding: 5px; */
    border-radius: 10px;
}

.member-list {
    flex: 1;
    border-right: 1px solid rgb(65, 65, 65);
    overflow-y: auto;
    background-color: #3b3f99;
    color: #c4c6e7;
    border-radius: 10px 0px 0px 10px;
}


.member {
    padding: 15px 10px;
    /* background-color: rgb(134, 255, 134); */
    margin: 5px;
    border-radius: 10px;
    transition-duration: .3s;
    
}

.member:hover {
    cursor: pointer;
    background-color: #f3407b;
    color: white;
}

.member.active {
    background-color: #f3407b;
    color: white;
}


.chat-content {
    flex: 6;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 0px 10px 10px 0px;
}

.user-join-noti {
    
}

.chat-messages {
    flex: 20;
    overflow-y: auto;
    padding: 10px;
    /* border: 1px solid rgb(65, 65, 65); */
    font-size: 1.2rem
}

.message {
    max-width: 60%;
    /* padding: 10px; */
    margin-bottom: 15px;
    border-radius: 8px;
    clear: both;
    word-wrap: break-word;
    display: flex;
}


.message.system {
    text-align: center;
    width: 100%;
    color: rgb(154, 154, 154)
}

.message.system .avatar {
    display: none;
}

.message-data {
    margin: 0 5px;
    padding: 10px;
    border-radius:8px;
}
.message.self {
    
    float: right;
    text-align: right;
}

.message.self .message-data {
    background-color: #999cdb;
    color: #e3e3ef;
}
.message.guest {
    float: left;    
}

.message.guest .message-data {
    background-color: #f1f1fc;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: pink;
    
}



.send-message {
    flex: 1;
    width: 100%;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
}

.send-message input {
    flex: 1;
    margin-right: 5px;
    padding: 12px 8px;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: rgb(230, 230, 230);

}

