.online-users-container {
    position: relative;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    height: 100px;
}

.no-user-online {
    width: 100%;
    text-align: center;
    color: rgb(171, 171, 171);

}


.online-users {
    display: flex;
    gap: 15px;
    padding: 10px;
    overflow-x: auto;
    height:fit-content;
    
}

.online-users .user {
    width: fit-content;
    height: fit-content;
    flex-shrink: 0;
    text-align: center;
    position: relative;
    transition-duration: .3s;
    font-weight: bold;
}

.online-users .user:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.user-avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
}


.online-users .user .online-sign {
    width: 10px;
    height: 10px;
    background-color: #00d700;
    position: relative;
    left: 40px;
    bottom: 15px;
    border-radius: 50%;
}