body {
    padding: 0;
    margin: 0;
    background-color: #f2f4f7;
}

.container {
    width: 75%;
    box-sizing: border-box;
    height: 100vh;
    padding: 0 40px;
    margin: auto;
    display: flex;
    align-items: center;
}

.container.login {
    justify-content: space-between;

}

.container.register {
    flex-direction: column;
    justify-content: center;
}

#logo.login {
    flex: 3;
}

#logo .title {
    color: #0866ff;
    font-size: 3rem;
    font-weight: bold;
}

#logo .sub-title {
    font-size: 2rem;
}

form {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -1px 1px 15px #bcbcbc;
}

#login-form {
    background-color: white;
    flex: 2;
}

#register-form {
    width: 50%;
}

.form-group {
    width: 100%;
    margin-bottom: 15px;

}
label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 12px 10px;
    border: 1px solid #c1c1c1;
    box-sizing: border-box;
    outline:none;
    border-radius: 5px;
    font-size: 1rem
}

input:focus {
    border: 1px solid #0866ff;
}

.error-message {
    display: none;
    background-color: #FFEBE9;
    text-align: center;
    border: 1px solid red;
    padding: 15px;
    margin: 10px 0 0 0;
    max-width: 100%;
    font-size: 1rem;
    border-radius: 5px;
}

.btn {
    padding: 15px 10px;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
}

.submit-btn {
    width: 100%;
    padding: 15px 10px;
    margin: 10px 0;
    background-color: #0866ff;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
}

.submit-btn:hover {

    background-color: #2273f8;
    cursor: pointer;
}

.reset-password-link {
    color: #0866ff;
    text-decoration: none;
}

.reset-password-link:hover {
    text-decoration: underline;
}

hr {
    width: 100%;
    margin: 15px 0;
    color: #636363
}


.register-btn {
    width: 50%;
    margin-top: 15px;
    background-color: #43b82b;
    text-align: center;
    text-decoration: none;

}

.register-btn:hover {
    cursor: pointer;
    background-color: #338e22;
}