<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>


</head>
<body>
  <div class="chat-container">
    <div class="chat-box">
      <div class="member-list">

      </div>

      <div class="chat-messages">
        <ul>

        </ul>
      </div>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@5.0.0/bundles/stomp.umd.js"></script>
</body>
</html>